<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UrlList" type="System.Configuration.NameValueSectionHandler" />
    <section name="LoggingEntries" type="System.Configuration.NameValueSectionHandler" />
    <section name="TeamIdList" type="System.Configuration.NameValueSectionHandler"/>
    <section name="RefreshInterval" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ItemsRetrieved" type="System.Configuration.NameValueSectionHandler"/>
    <section name="SocialData" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ReportError" type="System.Configuration.NameValueSectionHandler"/>
    <section name="StockIndexCredentials" type="System.Configuration.NameValueSectionHandler"/>
    <section name="HttpErrorMessage" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ArticleType" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FeedbackMessage" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>  
  <appSettings>
    <add key="ApplicationFolderName" value="NDTV"/>
    <add key="ApplicationSettingsFileName" value="Settings.xml" />
    <add key="QueryStringForArticle" value="device=slate"/>
  </appSettings>
  <HttpErrorMessage>
    <add key="303" value="" />
    <add key="404" value="" />
    <add key="504" value="" />
  </HttpErrorMessage>
  <ReportError>
    <add key="FromAddress" value="anonymous@ndtv.com" />
    <add key="ToAddress" value="krishnand@aditi.com" />    
  </ReportError>
  <SocialData>
    <add key="FacebookConsumerKey" value="124400840991384"/>
    <add key="FacebookConsumerSecretKey" value="6699ad6563f86a4842090efd69ed0170"/>
    <add key="TwitterConsumerKey" value="jkll7KgKxHek5zmJmR4OSA"/>
    <add key="TwitterConsumerSecretKey" value="zpqxxcOD6XDu43pHJNDqbY0qCZnVhx9BLGwZ35uffw"/>
    <add key="BitLyUserName" value="ndtv"/>
    <add key="BitLyApiKey" value="R_ae5f1ac2e71db24fff9eff3857af62cd"/>
    <add key="GoogleConsumerKey" value="anonymous" />
    <add key="GoogleConsumerSecret" value="anonymous" />
    <add key="YahooConsumerKey" value="dj0yJmk9cWl1aW9qME1Zd0FCJmQ9WVdrOWRIUnRlbWgyTXpRbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD01Yg--"/>
    <add key="YahooConsumerSecret" value="999602e315e803a77d82906427d321b0b62d26cc"/>
    <add key="LinkedInConsumerKey" value="pnh1apefnhch"/>
    <add key="LinkedInConsumerSecretKey" value="0LNKRsfnViYXpfEu"/>
    <add key="CallbackUrl" value="http://www.ndtv.com/play/Logout.html"/>
    <add key="FacebookLogoutDivId" value="logout_form" />
  </SocialData>
  <UrlList>
    <add key="52WeekHighStocks" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=feed/ndtv/companies/{1}/page/{0}/bse_year_high.xml"/>
    <add key="52WeekLowStocks" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=feed/ndtv/companies/{1}/page/{0}/bse_year_low.xml"/>
    <add key="CategoriesFeed" value="http://www.ndtv.com/news/ListCategories.xml"/>
    <add key="CompanySpecificData" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=feed/companies/{0}.xml"/>
    <add key="TopStoryFeed" value="http://drop.ndtv.com/stories/rss_news/_top_stories.xml"/>
    <add key="FlashNewsFeed" value="http://www.ndtv.com/common/news_flash/news.php"/>
    <add key="VideosFeed" value="http://drop.ndtv.com/albums/XML/VideoListCategories.xml"/>
    <add key="PhotosFeed" value ="http://drop.ndtv.com/albums/XML/ListCategories.xml"/>
    <add key="ProfitIndexFeed" value="http://profit.ndtv.com/feed/ndtv/indices/highlighted.xml"/>
    <add key="StockExchangeFeed" value="http://drop.ndtv.com/ndtv/apps/config/market-config.xml"/>
    <add key="StockIndicesFeed" value="http://profit.ndtv.com/feed/ndtv/indices/highlighted.xml"/>
    <add key="WeatherFeed" value="http://drop.ndtv.com/social/files/Weather/weather.json"/>
    <add key="CricketShortScoreCardFeed" value="http://mb.ndtv.com/feed/fixtures.php"/>
    <add key="TVSchedule" value="http://www.ndtv.com/convergence/ndtv/new/tv_schedulexml.aspx"/>
    <add key="CricketSchedule" value="http://drop.ndtv.com/Sportz/cricket/xml/calendar_new.xml"/>
    <add key="ImageResizer" value="http://gen.ndtv.com/apigate/imgtune/default.aspx?u={0}&amp;wt={1}&amp;clr={2}&amp;fmt={3}"/>
    <add key="LatestNews" value="http://www.ndtv.com/common/news_flash/news.php"/>
    <add key="ImageCategories" value="http://drop.ndtv.com/albums/XML/ListCategories.xml"/>
    <add key="ImageCategoriesAlbum" value="http://gen.ndtv.com/convergence/ndtv/AlbumAPI/AlbumData.aspx"/>
    <add key="CricketFullScore" value="http://drop.ndtv.com/Sportz/cricket/xml/"/>
    <add key="CricketFixtures" value="http://drop.ndtv.com/Sportz/cricket/xml/calendar_new_liupre.xml" />
    <add key="ImageItemZoomDrop" value="http://drop.ndtv.com/albums/" />
    <add key="ImageItemZoomReplace" value="http://gen.ndtv.com/apigate/imgtune/default.aspx" />
    <add key="NDTV24x7Video" value ="http://www.ndtv.com/common/videos/embedPlayer.php?id=LIVE_BG24x7&amp;autostart=1&amp;Width=575&amp;Height=400&amp;category=partner"/>
    <add key="NDTVIndiaVideo" value ="http://www.ndtv.com/common/videos/embedPlayer.php?id=LIVE_BGINDIA&amp;autostart=1&amp;Width=575&amp;Height=400&amp;category=partner"/>
    <add key="NDTVProfitVideo" value="http://www.ndtv.com/common/videos/embedPlayer.php?id=LIVE_BGPROFIT&amp;autostart=1&amp;Width=575&amp;Height=400&amp;category=partner" />
    <add key="NDTVGoodtimesVideo" value="http://www.ndtv.com/common/videos/embedPlayer.php?id=LIVE_BGGT&amp;autostart=1&amp;Width=575&amp;Height=400&amp;category=partner" />
    <add key="NDTV24X7SCHEDULE" value="http://www.ndtv.com/convergence/ndtv/new/tv_schedulexml.aspx?channel=english"  />
    <add key="NDTVIndiaSCHEDULE" value="http://www.ndtv.com/convergence/ndtv/new/tv_schedulexml.aspx?channel=hindi"  />
    <add key="NDTVProfitSCHEDULE" value="http://www.ndtv.com/convergence/ndtv/new/tv_schedulexml.aspx?channel=business"  />
    <add key="NDTVGoodtimesSCHEDULE" value="http://www.ndtv.com/convergence/ndtv/new/tv_goodtimesxml.aspx"  />
    <add key="NDTVWeatherPage" value="http://social.ndtv.com/static/Weather/report/" />
    <add key="NDTVVideoPlayerURL" value="http://www.ndtv.com/play/player.htm"></add>
    <add key="SensexStocks" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=feed/ndtv/companies/{1}/page/{0}/sensex.xml"/>
    <add key="LiveTVNDTVHinduSchedule" value=""></add>
    <add key="NiftyStocks" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=feed/ndtv/companies/{1}/page/{0}/nifty.xml"/>
    <add key="ProfitNewsFlash" value="http://drop.ndtv.com/common/xml/profitheadline.xml"/>
    <add key="MailSharing" value="http://gen.ndtv.com/convergence/ndtv/new/applications/message.aspx?to={0}&amp;from={1}&amp;body={2}&amp;sub={3}" />
    <add key="CricketCommentary" value="http://drop.ndtv.com/Sportz/cricket/xml/"/>
    <add key="MostActiveStocks" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=stock/most_active?page={0}&amp;exchange=BSE&amp;template=json" />
    <add key="MarketTopGainers" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=stock/top_gainers?page={0}&amp;exchange=BSE&amp;template=json" />
    <add key="MarketTopLosers" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=stock/top_losers?page={0}&amp;exchange=BSE&amp;template=json" />
    <add key="MarketFullDashboard" value="http://apps.ndtv.com/mobileapp/profitfeed/nokia/?uri=feed/ndtv/companies/{1}/page/{0}/all.xml"/>
    <add key="VideoSearchLink" value="http://search.ndtv.com/video/list?video_id=&amp;allfields={0}&amp;pageSize=20&amp;pageNumber={1}"/>
    <add key="PhotoSearchLink" value="http://gen.ndtv.com/convergence/ndtv/AlbumAPI/AlbumListing.aspx?DataFor=AlbumListing&amp;PageNumber={1}&amp;PageSize=20&amp;AlbumType=PG&amp;Category=&amp;SubCategory=&amp;Keywords={0}&amp;SortBy=CREATEDDATE&amp;SortOrder=DESC&amp;feedtype=lite&amp;"/>
    <add key="NewsSearchLink" value="http://search.ndtv.com/news/list?allfields={0}&amp;pagesize=20&amp;pagenumber={1}"/>
    <add key="AboutNDTVLink" value="http://drop.ndtv.com/ndtv/pages/corporate/xml/AboutUs.xml"/>
  </UrlList>
  <LoggingEntries>
    <add key="LogFolderName" value="Logs" />
    <add key="MaximumLogCount" value ="20" />
  </LoggingEntries>
  <TeamIdList>
    <add key="1" value="AUS"/>
    <add key="2" value="BAN"/>
    <add key="3" value="ENG"/>
    <add key="4" value="IND"/>
    <add key="5" value="NZ"/>
    <add key="6" value="PAK"/>
    <add key="7" value="SF"/>
    <add key="8" value="SL"/>
    <add key="9" value="WI"/>
    <add key="10" value="ZIM"/>
    <add key="12" value="CAN"/>
    <add key="13" value="IRE"/>
    <add key="14" value="KEN"/>
    <add key="15" value="NED"/>
    <add key="16" value="SCO"/>
    <add key="1105" value="RCB"/>
    <add key="1106" value="KKR"/>
    <add key="1107" value="KXIP"/>
    <add key="1108" value="CSK"/>
    <add key="1109" value="DD"/>
    <add key="1110" value="RR"/>
    <add key="1111" value="MI"/>
    <add key="1112" value="DC"/>
    <add key="1243" value="KT"/>
    <add key="1244" value="SPW"/>
  </TeamIdList>
  <RefreshInterval>
    <!-- Time In milliseconds -->
    <!-- Time In milliseconds -->
    <add key="LatestNewsMainPage" value="60000"/><!-- Latest News section Refreshing time(FLASH NEWS)-->
    <add key="TopStoryMainPage" value="3000000"/><!-- Top Stories section Refreshing time(CATEGORY DEPENDENT)-->
    <add key="VideosMainPage" value="6000000"/><!-- Videos section in the Main Page Refreshing time-->
    <add key="ImagesMainPage" value="6000000"/><!-- Images section in the Main Page Refreshing time-->
    <add key="MasterTimerInterval" value="60000"/><!--Master Timer Interval-->
    <add key="SwapTimerInterval" value="10000"/><!--Interval to swap details between multiple data in the same list-->
    <add key="CricketTimerInterval" value="60000"/>    <!--Interval to refresh cricket score-->
    <add key="AnimationInterval" value="700"/>
  </RefreshInterval>
  <ItemsRetrieved>
    <add key="TopStoriesLandingPage" value="6"/>
    <add key="FlashNewsItemsCount" value="5"/>
    <add key="ArticlesArticlePage" value="10"/>
  </ItemsRetrieved>
  <StockIndexCredentials>
    <add key="Username" value="ndtv"/>
    <add key="Password" value="n61v"/>
  </StockIndexCredentials>
  <ArticleType>
    <add key="MostRead" value="http://www.ndtv.com/news/story-feeds.php?filter=mostread"/>
    <add key="MostCommented" value="http://www.ndtv.com/news/story-feeds.php?filter=mostcommented"/>
  </ArticleType>
  <FeedbackMessage>
    <add key="ReceiversEmail" value="rajeevsr@aditi.com" />
    <add key="DefaultSendersEmail" value="anonymous@ndtv.com" />
  </FeedbackMessage>
</configuration>